/* Globals  */
*{
    font-family: "Tajawal", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Variables  */
:root {
    --color_Orange: #f37521; /* Update with landing page blue color */
    --color_Dark1: #212529; /* Update with landing page dark color */
    --color_Dark2: #343a40; /* Update with landing page darker color */
    --color_Light1: #f8f9fa; /* Update with landing page light color */
    --color_Light2: #dee2e6; /* Update with landing page lighter color */
}



.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background-color: #333; /* Change the background color */
    transition: width 0.5s ease; /* Change the animation to width only */
    z-index: 100;
}
.sidebar:hover{
    width: 260px;
}

.sidebar:hover .fox-letters {
    display: initial;
}
.nav__logo {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    color: var(--color_Light1);
    transition: all .5s ease;
    margin-left: 20px;
}
  
.fox-letters {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: 600;
    color: #f37521; /* Reddish yellowish color */
    display: none;
}

.fox-logo {
    width: 50px; /* Adjust the width of the fox logo container */
    height: 50px; /* Adjust the height of the fox logo container */
    margin: 0 0; /* Adjust the margin as needed */
}

.fox-logo img {
    width: 100%; /* Make the fox logo image fill its container */
    height: 100%; /* Make the fox logo image fill its container */
    object-fit: contain; /* Maintain aspect ratio */
}
/* ---------- Sidebar List ---------- */
.sidebar-list{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar-list::-webkit-scrollbar{
    display: none;
}
.sidebar-list li{
    transition: all .5s ease;
}
.sidebar-list li:hover{
    background-color: var(--color_Dark2);
}
.sidebar-list li .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    cursor: pointer;
}
.sidebar-list li.active .title{
    background-color: var(--color_Orange);
}
.sidebar-list li.active .bxs-chevron-down{
    transition: all .5s ease;
    transform: rotate(180deg);
}
.sidebar-list li .title .link{
    display: flex;
    align-items: center;
}
.sidebar-list li .title i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--color_Light1);
    font-size: 20px;
}
.sidebar-list li .title .name{
    font-size: 18px;
    font-weight: 400;
    color: var(--color_Light1);
}

/* ---------------- Submenu ------------- */
.sidebar-list li .submenu{
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease;
}
.sidebar-list li.dropdown.active .submenu{
    width: unset;
    height: unset;
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 6px 6px 14px 80px;
    background-color: var(--color_Dark2);
}
.submenu .link{
    color: var(--color_Light2);
    font-size: 15px;
    padding: 5px 0;
    transition: all .5s ease;
}
.submenu .link:hover{
    color: #fff;
}
.submenu-title{
    display: none;
}
.sidebar:hover ~ .home {
    left: 260px; /* Adjust based on expanded width */
    width: calc(100% - 260px); /* Adjust based on expanded width */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Increase padding to increase height */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px; /* Set desired height */
}

.navbar-left {
    flex: 1;
}

.navbar-right {
    flex-shrink: 0;
}