{% load static %}
<div class="sidebar">
    <!-- Logo -->
    <div class="nav__logo">
        <span class="fox-letters"></span>
        <span class="fox-logo">
            <img src="{% static 'assets/img/background.png' %}" alt="Fox Logo">
        </span>
        <span class="fox-letters">LEADS_</span>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-list">
        <!-- Dashboard -->
        <li>
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-grid-alt'></i>
                    <span class="name">Dashboard</span>
                </a>
            </div>
        </li>

        <!-- Validate Numbers -->
        <li>
            <div class="title">
                <a href="#" class="link">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="name">Validate Numbers</span>
                </a>
            </div>
        </li>

        <!-- Add more sidebar menu items as needed -->
    </ul>
</div>
